


  /* ---------------------------------------------------------------- */
  /* CustomControl FloatingPanel                                      */
  /* ---------------------------------------------------------------- */

  
  .CcFpDecorado
  {
      padding:1em;
      background-color:#FFF;
      color:#000;
      border: 1px solid #666;
         
     -moz-box-shadow:    3px 3px 15px 2px #777;
     -webkit-box-shadow: 3px 3px 15px 2px #777;
     box-shadow:         3px 3px 15px 2px #777; 
  }
  
  
  .CcFpDecorado h1
  {
      display:block;
      font-size: 2.5em;
      color:#3399cc;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:bold;
      margin: 0 0 1em 0;
      border-bottom: 1px #c9c9c9 solid;
  }
  
  
  .CcFpDecorado .CcFpCabecera
  {
    background: url(../images/maquetacion/cabecera_fondo.png);
    background-color: #6fb6db;
    background-position: left;
    background-repeat: no-repeat;
    margin:-1em -1em 1em -1em;
    overflow:hidden;
    height:22px;
    border-bottom:1px solid #000;
  }
  
  .CcFpDecorado .CcFpCabecera .CcFpBotonCerrar
  {
     float:right;
     margin:0.25em 0.5em;
     cursor:pointer;
  }
  
  
